
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
@cocos
library/
temp/
local/
build/
profiles/
native/
files/
#//////////////////////////
# NPM
#//////////////////////////
node_modules/
package-lock.json
#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
.DS_Store